{% section 'product-template' %}
{% section 'related-products' %}
{% section 'recently-viewed-products' %}

{% section 'sezzle-widget' %}

 {% comment %} <script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=e4dd3c1d-55af-40cc-bc32-55c7714dee97"></script> {% endcomment %}



<!--Start Stamped.io Auto Installation--><div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}" data-widget-language="{{shop.locale}}">{{ product.metafields.stamped.reviews }}</div><!--End Stamped.io Auto Installation-->